body {
    font-family:'Poppins', sans-serif;
    background-position:center;
    background-color: rgb(45,101,104);;
    background-image: url(images/sunpattern.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
    line-height: 1.5;
    margin:0%;
    padding:0%;
    overflow:scroll;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .row{
    display:inline-block;
    position: relative;
  }

  .six-columns {
    border: 10px solid rgb(157,33,63);
    background-color:rgb(250,234,219);
    padding: 10px;
  }
  

  header {
    text-align: left;
    background-color: rgb(134,164,159);
    margin-top: -20px;
    margin-bottom: 50px;
    padding: 80px 20px;
  }

  .header-content {
    max-width: 960px;
    margin: 0 auto;
  }

  img{
    max-width: 100%;
    height: auto;
  }
  
  h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 700;
    text-transform: lowercase;
    color: rgb(157,33,63);
  }

  h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color:rgb(17,17,29);
  }
  
  nav ul {
    list-style: none;
    color: rgb(45,101,104);
    font-family:'Poppins', sans-serif;
    font-size:16px;
    font-weight:500; 
    text-transform:lowercase;
    margin: 0;
    padding-bottom: 8px;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    padding: 8px;
  }
  
  nav a:link {
    color:rgb(250,234,219);
    text-decoration:underline;
    border-bottom:5em;
  }

  nav a:visited {
    color: rgb(157,33,63);
    text-decoration:dotted;
    border-bottom:5em;
  }
  
  nav a:hover {
    color:rgb(17,17,29);
    border-bottom: 5em;
  }
  
  /* Style the main section */
  main {
    padding: 20px 0;
  }
  
  /* Style the sidebar */
  .sidebar {
    border-right: 1px solid #ccc;
  }
  
  /* Style the footer */
  footer {
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  