body {
    background-image: url(/images/sunpattern.png);
    background-color: rgb(211,211,211);
    background-repeat:repeat;
}

h1 {
    color: rgb(157,33,63);
    font-family:'Poppins', sans-serif;
    font-size:4em;
    font-weight:700;
    line-height:.5em;
    text-decoration: underline;
    text-align:center; 
    text-transform:lowercase;
}

h2 {
    color: rgb(45,101,104);
    font-family: 'Poppins', sans-serif;
    font-size:1.5em;
    font-weight:500;
    line-height:.5em;
    text-align:center;
    text-transform:lowercase;
}

h3{
    color: rgb(45,101,104);
    font-family:'Poppins', sans-serif;
    font-size:1.5em;
    font-weight:700; 
    line-height:.5em;
    text-transform:lowercase;
}

h4{
    color: rgb(157,33,63);
    font-family:'Poppins', sans-serif;
    font-size:1em;
    font-weight:500;
    font-style:italic;
    line-height:.5em;
    text-align:center;
    text-transform:lowercase;
}

p{
    color: rgb(17,17,29);
    font-family:'Poppins', sans-serif;
    font-size:.75em;
    font-weight:300;
    line-height:normal;
}

hr {
    border-top: .25em dotted rgb(45,101,104)
}

ul{
    color: rgb(45,101,104);
    list-style-type:circle;
}


a:link {
    color:rgb(45,101,104);
    text-decoration:underline;
    border-bottom:5em;
}

a:visited {
    color: rgb(17,17,29);
    text-decoration:dotted;
    border-bottom:5em;
}

a:hover{
    color:rgb(157,33,63);
    border-bottom: 5em;
}